* {
  box-sizing: "border-box";
}

.fieldContainer {
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
  width: 120px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.fieldButton {
  margin: 2px;
  width: 30px;
  height: 30px;
  color: brown;
}
